*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main_container{
    padding: 0 20px;
    max-width: 500px;
}
.chat_header{
    padding: 10px;
}
.main_container h2{
    text-align: center;
    color: navy;
}
.chat_container p{
    color: white;
    margin-right: 145px;
}
.mode{
    display: flex;
}
.chat_container{
    position: relative;
    width: 80%;
    margin: auto;
    height: 80vh;
    padding: 20px 20px;
    border: 1px solid navy;
    background: black;
}
/* Chat Background */
.main_chat{
    overflow-y: scroll;
    max-height: 300px;
    position: relative;
    background: black;
    padding: 10px;

}

/* Chat Messages */
.chat_container .other_user_msg{
    width: 30%;
    background: rgb(189, 189, 189);
    padding: 10px;
    border-radius: 20px;
    color: black;
    margin: 50px 0 ;
}
.chat_container .sender_msg{
    position: absolute;
    right: 10px;
    width: 30%;
    background: rgb(189, 189, 189);
    padding: 10px;
    border-radius: 20px;
    color: black;
    margin: -35px 0 ;
}
.chat_container .other_user_msg .time_stamp,.sender_msg .time_stamp{
    float: right;
    font-size: 8px;
}
/* Input Box */
.chat_input{
    /* position: absolute; */
    bottom: 0;
    width: 70%;
    border: 1px solid white;
    border-radius: 20px;
    
    
}
.chat_input input{
    width: 256px;
    height: 34px;
    outline: none;
    font-size: 18px;
    padding: 5px;
    border: none;
    margin-left: 10px;
}

/* Icons */
.chat_input i{
    padding: 10px;
    font-size: 20px;
    opacity: 0.5;
    cursor: pointer;
    color: white;
}
.chat_input i:hover{
    opacity: 1;
}

